<!doctype html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Simone de Beauvoir</title>

    <link rel="stylesheet" href="/style.css" />

  </head>

  <body>

    <<h1> Simone de Beauvoir</h1>

    <div>
      <h2>Simone de Beauvoir</h2>
      
      <p>Écouter, née le 9 janvier 1908 dans le 6e arrondissement de Paris, ville où elle est morte le 14 avril 1986, est une philosophe, romancière, mémorialiste et essayiste française.</p>
      <p>En 1954, après plusieurs romans dont L'Invitée (1943) et Le Sang des autres (1945), elle obtient le prix Goncourt pour Les Mandarins et devient l'une des auteurs les plus lus dans le monde.</p>
      <p>Souvent considérée comme une théoricienne importante du féminisme, notamment grâce à son livre Le Deuxième Sexe publié en 1949, Simone de Beauvoir a participé au mouvement de libération des femmes dans les années 1970.</p>
      <p>Elle a partagé sa vie avec le philosophe Jean-Paul Sartre. Leurs philosophies, bien que très proches, ne sauraient être confondues.</p>
        
    </div>

    <div>
      <ul>
          <li><a href="/home"> Returne Home </a></li>
      </ul>

    </div>
    
  </body>

</html>
