<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>Pablo Ruiz Picasso</h1>
    <img src=" images/Picasso.jpeg" id=" imgPicasso" />
    <p>
      Pablo Ruiz Picasso, né à Malaga (Espagne) le 25 octobre 1881 et mort le 8
      avril 1973 à Mougins (Alpes-Maritimes, France), est un peintre,
      dessinateur, sculpteur et graveur espagnol1 ayant passé l'essentiel de sa
      vie en France. Artiste utilisant tous les supports pour son travail, il
      est considéré comme le fondateur du cubisme avec Georges Braque et un
      compagnon d'art du surréalisme. Il est l'un des plus importants artistes
      du xxe siècle, tant par ses apports techniques et formels que par ses
      prises de positions politiques. Il a produit près de 50 000 œuvres dont 1
      885 tableaux, 1 228 sculptures, 2 880 céramiques, 7 089 dessins, 342
      tapisseries, 150 carnets de croquis et 30 000 estampes (gravures,
      lithographies, etc.)2. Parmi ses œuvres les plus célèbres figurent le
      proto-cubiste Les Demoiselles d'Avignon (1907) et Guernica (1937), une
      représentation dramatique du bombardement de Guernica pendant la guerre
      civile espagnole
    </p>
  </body>
</html>
