<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk</title>
    <link rel="stylesheet" type="text/css" href="/about.css">
</head>
<body>
    <h1>A propos d'Elon Musk</h1>
    <p>Elon Reeve Musk naît le 28 juin 1971 à Pretoria, en Afrique du Sud. Il est le fils d'Errol Musk, ingénieur anglo-sud-africain, et de Maye Haldeman, nutritionniste et mannequin canadienne6,7,8. Après le divorce de ses parents en 1980, il continue de vivre avec son père9. À l'âge de 12 ans, il vend son premier programme de jeux vidéo10 pour l'équivalent de 500 dollars.
        Selon Kimbal Musk, son frère, Elon Musk aurait très tôt lu deux livres par jour dans des disciplines variées. Ses lectures étaient très larges et diverses, couvrant de nombreux domaines comme la philosophie, la religion, la science-fiction et la programmation, l'ingénierie, le business, la technologie, le design de produit, l'énergie11.
        En 1988 (17 ans), à la fin de ses études au Pretoria Boys High School (en), il annonce à ses parents qu'il souhaite aller étudier aux États-Unis. Il obtient alors la nationalité canadienne grâce à sa filiation maternelle, et quitte l'Afrique du Sud pour Kingston, en Ontario (Canada)12,13. Pour Musk, la nationalité canadienne lui permet de pouvoir émigrer ensuite aux États-Unis pour étudier, plus facilement qu'en venant de l'Afrique du Sud de l'apartheid14,10. Cela lui évite aussi d'être appelé sous les drapeaux en Afrique du Sud et de faire son service militaire15. En désaccord, son père lui coupe les vivres16. Au Canada, il intègre alors l'Université Queen's et finance ses études grâce à des travaux à temps partiel et des emplois d'été en informatique. Il en ressort diplômé en administration en 1992.</p>
</body>
</html>