<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about"></a>About</li>
        <li><a href="/works"></a>Works</li>
        <li><a href="/gallery"></a>Gallery</li>
      </ul>
    </nav>
    <h1>Beyonce work gallery</h1>
    <div id="gallery">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Beyonc%C3%A9_-_4.png/220px-Beyonc%C3%A9_-_4.png"
        alt=""
      />
      <img
        src="https://static.fnac-static.com/multimedia/FR/Images_Produits/FR/fnac.com/Visual_Principal_340/6/2/7/0886975693726/tsp20120920082904/I-am-Sasha-Fierce-Platinum-edition-Inclus-DVD-bonus.jpg"
        alt=""
      />
      <img
        src="https://static1.purebreak.com/articles/7/17/93/47/@/681199-beyonce-invite-jay-z-sa-fille-blue-ivy-diapo-2.jpg"
        alt=""
      />
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1KCPQlD0nef-w0YigtcEGtJYq1B4nYYSzbg&usqp=CAU"
        alt=""
      />
      <img
        src="https://medias.2kmusic.com/uploads/2013/12/11/img-1386776126-daa325eee5beccb3bcbfb5f595d41584.jpg"
        alt=""
      />
      <img src="https://blob.cede.ch/catalog/10159000/10159538_1_92.jpg?v=5" alt="" />
    </div>
  </body>
</html>
