<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob l'éponge</title>
    <link rel="stylesheet" href='/public/styles.css'/>
</head>

<body>
    <h1>Welcome to Bikini Bottom</h1>
    <nav>
        <ul>
            <li><a  href='about.html'>About us</a></li>
            <li><a  href='works.html'>Our works</a></li>
            <li><a  href='photoGallery.html'>Photo Gallery</a></li>
        </ul>
    </nav>
</body>
</html>