<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk</title>
    <link rel="stylesheet" type="text/css" href="/photos.css"> <!--TOUJOURS CHEMIN ABSOLU-->
</head>
<body>
    <h1>Elon Musk : les photos</h1>
    <div class="images">
        <img src="/photos/_110720290_104763989-gettyimages-855370098-elon-musk.jpg" alt="elon">
        <img src="/photos/1206292068.jpg.jpg" alt="elon1">
        <img src="/photos/AP20149826033080.jpg" alt="elon2">
        <img src="/photos/Elon_Musk_Royal_Society.jpg" alt="elon3">
        <img src="/photos/elon-musk-grimes.jpg" alt="elon4">
        <img src="/photos/getty_1130598318_411195.jpg" alt="elon5">
    </div>
</body>
</html>