<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob l'éponge</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body id="photoGallery">
    <h1>Welcome to Bikini Bottom</h1>
    <nav>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/about'>About us</a></li>
            <li><a href='/works'>Our works</a></li>
            
        </ul>
    </nav>
    <div>
        <img src="/images/photo1.jpg">
        <img src="/images/photo2.jpg">
        <img src="/images/photo3.png">
    </div>
</body>

</html>