<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob l'éponge</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body id="works">
    <h1>Welcome to Bikini Bottom</h1>
    <nav>
        <ul>
            <li><a href='/home'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href='/photoGallery'>Photo Gallery</a></li>
        </ul>
    </nav>
    <div>
        <p>
            SpongeBob SquarePants features the voices of: Tom Kenny, Bill Fagerbakke, Rodger Bumpass, Clancy Brown, Mr.
            Lawrence, Jill Talley, Carolyn Lawrence, Mary Jo Catlett, and Lori Alan. Most one-off and background
            characters are voiced by: Dee Bradley Baker, Sirena Irwin, Bob Joles, Mark Fite and Thomas F. Wilson.

            Kenny voices SpongeBob SquarePants and a number of other characters, including SpongeBob's pet snail Gary
            and the French narrator. He also physically portrays Patchy the Pirate in live-action segments of most
            special episodes. Kenny previously worked with Stephen Hillenburg on Rocko's Modern Life. When Hillenburg
            created SpongeBob SquarePants, he approached Kenny to voice the main character.[69] Kenny originally used
            the voice of SpongeBob for a minor character on Rocko.[42] He forgot how to perform the voice initially and
            did not intend to use it afterward. Hillenburg, however, used a video clip of the episode to remind Kenny of
            the voice.[42] When Hillenburg heard Kenny perform the voice, he knew immediately he wanted it for his
            character. He said to Nickelodeon executives, "That's it—I don't want to hear anybody else do the voice.
            We've got SpongeBob."[40] The network insisted on auditioning more actors, but Hillenburg turned them down;
            in the words of Tom Kenny, "one of the advantages of having a strong creator is that the creator can say,
            'No, I like that—I don't care about celebrities.'"[40] While Kenny was developing SpongeBob's voice, the
            show's casting crew wanted him to have a unique, high-pitched laugh in the tradition of Popeye and Woody
            Woodpecker.[70]

            Fagerbakke voices Patrick Star[71] and other miscellaneous characters. At the same time when Hillenburg,
            Derek Drymon and Tim Hill were writing the pilot "Help Wanted", Hillenburg was also conducting auditions to
            find voices for the characters.[39] Fagerbakke auditioned for the role of Patrick after Kenny had been
            cast.[72] Fagerbakke recalled that during this audition, "Hillenburg actually played for me a portion of Tom
            [Kenny]'s performance [as SpongeBob], and they were looking for a counterpoint."[72] In an interview,
            Fagerbakke compared himself to the character and said, "It's extremely gratifying".[73] Whenever Patrick is
            angry Fagerbakke models his performance after American actress Shelley Winters.[74]

            Squidward Tentacles is voiced by Rodger Bumpass, who describes him as "a very nasally, monotone kind of
            guy." He said the character "became a very interesting character to do" because of "his sarcasm, and then
            his frustration, and then his apoplexy, and so he became a wide spectrum of emotions".[75] Arthur Brown,
            author of Everything I Need to Know, I Learned from Cartoons!, has compared
        </p>
    </div>
</body>

</html>