<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk</title>
    <link rel="stylesheet" type="text/css" href="/works.css">
</head>
<body>
    <h1>Elon Musk : son travail</h1>
    <p>En mai 2002, désabusé par le manque d'ambition de la NASA19, Elon Musk fonde sa troisième société, Space Exploration Technologies (SpaceX), dont il est l’actuel CEO et CTO. SpaceX développe et produit des véhicules de lancement spatiaux au premier étage réutilisable (à terme, la même journée), avec l'objectif d'abaisser les coûts de lancement et à long terme de rendre possible la colonisation de Mars. SpaceX a développé les fusées Falcon 1 et Falcon 9 ainsi que le vaisseau cargo Dragon20.
        Dès 2012, SpaceX ravitaille la Station spatiale internationale.
        Fin 2013, il ambitionne de créer un avion électrique supersonique qui pourrait décoller et atterrir verticalement[réf. nécessaire] ainsi que de fonder une colonie d'un million de personnes sur Mars15.
        En décembre 2015, Space X réalise la première récupération du premier étage de son lanceur Falcon 9.
        En mars 2017 est lancée la première Falcon 9 « recyclée » de SpaceX, avec un premier étage qui avait déjà volé en avril 2016.
        Le 6 février 2018, Space X lance la première Falcon Heavy, avec à bord la Tesla Roadster rouge d'Elon Musk. Le lancement est réussi et Space X récupère les deux propulseurs secondaires, mais ne récupère pas l'étage du milieu. Ce coup de marketing place Space X et Tesla en « orbite » sur les médias sociaux et télévisions de la planète.</p>
</body>
</html>