<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
  </head>
  <body>
    <h1>Les oeuvres</h1>
    <p>
      Guernica À la suite du bombardement de Guernica, le 26 avril 1937 pendant
      la guerre civile espagnole, Picasso est horrifié par ce crime et se lance
      dans la création d'une de ses œuvres les plus célèbres : Guernica.
    </p>
    <img src=" images/muralDelGermika.jpg" id=" imgGermika" />
    <p>
      Le garçon à la pipe, 1905 Garçon à la pipe est un tableau de Pablo Picasso
      réalisé en 1905, lors de sa « période rose » lorsqu'il avait vingt-quatre
      ans et venait de s'installer à Montmartre, à Paris.
    </p>
    <img src=" images/garçonAlaPipe.jpg" id=" imgGarçon" />
  </body>
</html>
