<!doctype html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Simone de Beauvoir</title>

    <link rel="stylesheet" href="/style.css" />

  </head>

  <body>
    <div>
        <ul>
            <li>Le Malentendu du Deuxième Sexe, by Suzanne Lilar, 1969</li>
            <li>Feminist theory & Simone Beauvoir, by Toril Moi, 1990</li>
            <li>de Beauvoir, Simone (2005), "Introduction from The Second Sex", in Cudd, Ann E.; Andreasen, Robin O. (eds.), Feminist theory: a philosophical anthology, Oxford, UK Malden, Massachusetts: Blackwell Publishing, pp. 27–36, ISBN 9781405116619.</li>
            <li>Appignanesi, Lisa. Simone Beauvoir, London: Penguin, 1988, ISBN 0140087370</li>
            <li>Bair, Deirdre. Simone Beauvoir, a biography, New York: Summit Books, 1990. ISBN 0671606816</li>
            <li>Francis, Claude. Simone Beauvoir: A Life, A Love Story. Lisa Nesselson (Translator). New York: St. Martin's, 1987. ISBN 0312001894</li>
            <li>Okely, Judith. Simone Beauvoir, New York: Pantheon, 1986. ISBN 0394747658</li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a href="/home"> Home </a></li>
        </ul>
  
      </div>

  </body>

</html>