<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Work</title>
</head>
<body>
    <h1>Discographie</h1>
    <img src="/album.png" alt="discographie">
    <p>
        Après avoir été reportée à trois reprises au courant du dernier mois, la sortie du neuvième album du clivant rappeur Kanye West s’est finalement concrétisée hier midi. Reconverti au Christ et au gospel, le musicien originaire de Chicago avait annoncé par ses happenings dominicaux cette esquisse d’album rappelant l’esprit de The Life of Pablo d’il y a trois ans : un ramassis de très bonnes (et de moins heureuses) idées musicales qui manque cependant de finition, duquel émerge une sincérité certes touchante mais étouffée par des textes insipides. Un disque, aussi, auquel ont contribué le beatmaker montréalais DrtWrk et… Claude Léveillée !
    </p>
</body>
</html>